{% extends 'base.html' %}
{% block content %}
<div class="my-5">

    <form id="contactForm">
        <div class="form-floating">
            <input class="form-control" id="name" type="text" placeholder="Ingrese su nombre..."
                data-sb-validations="required" />
            <label for="name">Nombre</label>
            <div class="invalid-feedback" data-sb-feedback="name:required">Nombre requerido</div>
        </div>
        <div class="form-floating">
            <input class="form-control" id="email" type="email" placeholder="Ingrese su email..."
                data-sb-validations="required,email" />
            <label for="email">Email</label>
            <div class="invalid-feedback" data-sb-feedback="email:required">Email requerido.</div>
            <div class="invalid-feedback" data-sb-feedback="email:email">El email no es válido.</div>
        </div>
        <div class="form-floating">
            <textarea class="form-control" id="message" placeholder="Su mensaje..." style="height: 12rem"
                data-sb-validations="required"></textarea>
            <label for="message">Mensaje</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">El mensaje no puede estar vaccío.</div>
        </div>
        <br />

        <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
                <div class="fw-bolder">Mensaje Enviado!</div>
            </div>
        </div>

        <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">No se pudo enviar su mensaje!</div>
        </div>

        <button class="btn btn-primary text-uppercase disabled" id="submitButton" type="submit">Enviar</button>
    </form>
</div>
{% endblock %}